<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Data Latih</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Data Latih</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Data Latih</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Form</h3>
            <div class="box-tools pull-right">
                <a href="/user" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${datalatih}" th:action="@{/datalatih/merge}" method="post" enctype="multipart/form-data">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="Firstname">Image</label>
                    <input type="file" th:name="file" multiple="multiple"/>
                </div>
                <div class="form-group">
                    <label for="Lastname">Nama Penyakit</label>
                    <input type="text" required="true" class="form-control" name="NamaPenyakit"  id="lastname" />
                </div>
                <div class="form-group">
                    <label for="email">Gejala</label>
                    <input type="text" required="true" class="form-control" name="Gejala" id="email" />
                </div>
                 
                
                
                
            <div class="box-footer">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
